@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap');

/* Global */

$max-width:960px;
$max-height:5rem;
$text-color: #fff;
$color-dark:#000;
$color-alpha-dark: rgba(0, 0, 0, 0.75);
$color-light:#fff;
$color-alpha-light:rgba(255,255,255,0.75);
$box-shadow-light:0.25rem 0.25rem 1rem rgba(255,255,255,0.5);
$box-shadow-dark:0.25rem 0.25rem 1rem rgba(0,0,0,0.5);

@mixin containerFlex($justify,$align,$wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap:$wrap;
}

/* Reset */
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.6;
  font-family:'Baloo Tammudu 2', cursive,sans-serif ;
}

.opacity{
  opacity: 1;
  visibility: visible;
}
