.container-juego{
  background-color: #16161A;
  height: 100vh;

  .progress-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;

    .btn-close{
      padding: 0.3rem .5rem;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      color: $text-color;
    }
    progress{
      width: 70%;
      margin-left: 1rem;
    }
    img{
      margin-left: 1rem;
    }
    span{
      color: $text-color;
    }
  }
  .pregunta-juego1{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    
    p{
      margin-left: 1rem;
      color: $text-color;
      font-size: 1.4rem;
    }
  }
  .respuesta-juego1{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
      display: flex;
      flex-direction: column;
      color: $text-color;
      width: 100%;
      
      label{
        margin: 0 1rem 1rem 1rem;
        padding: .5rem;
        border: 1px solid #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #232E35;

      }
    }
    .btn-comprobar{
      width: 90%;
      background-color: 
      #D4CAF3;
      color: $text-color;
      padding: 1rem 0;
      border-radius: 20px;
      margin: auto;
      margin-top: 3rem;
    }
  }
}