@import url("https://fonts.googleapis.com/css2? family = Baloo + Tammudu + 2: wght @ 400; 700 & display = swap");
/* Global */
/* Reset */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  font-family: 'Baloo Tammudu 2', cursive,sans-serif;
}

.opacity {
  opacity: 1;
  visibility: visible;
}

.inicio {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inicio figure {
  margin: 2.5rem 0;
}

.inicio h1 {
  color: #fff;
  margin-bottom: 2rem;
}

.inicio .btn-google {
  background-color: #ef4565;
  color: #fff;
  padding: .7rem 0;
  margin-bottom: 1rem;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.inicio .form-email {
  max-width: 300px;
  width: 100%;
}

.inicio .form-email #email-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.inicio .form-email #email-label #email {
  font-size: 1.2rem;
  padding: .7rem 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.inicio a {
  color: #2CB67D;
  font-size: 1rem;
  margin: 1rem 0;
}

.inicio p {
  color: #fff;
}

.home-container {
  background-color: #16161A;
  height: 100%;
  padding-bottom: 2rem;
}

.home-container .header-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 5rem;
  background-color: #232E35;
}

.home-container .header-container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.home-container .header-container .menu a {
  color: #fff;
  text-decoration: none;
  margin: 1rem 1.5rem;
  text-align: center;
}

.home-container h1 {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1rem 2rem;
}

.home-container .container-link-juego {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .container-link-juego .link-juego {
  color: #fff;
  text-decoration: none;
  pointer-events: none;
}

.home-container .container-link-juego .link-juego:nth-of-type(1) {
  grid-column: -1/1;
}

.home-container .container-link-juego .link-juego .fig-home {
  text-align: center;
  margin: 1rem 0;
}

.home-container .container-link-juego .link-juego .fig-home img {
  border: 5px solid #fff;
  pointer-events: visible;
  border-radius: 50%;
  padding: .4rem;
}

.home-container .container-link-juego .link-juego .fig-home figcaption {
  pointer-events: visible;
}

.container-juego {
  background-color: #16161A;
  height: 100vh;
  position: relative;
  /* modal para comprobar si esta bien o mal */
  /* display none */
  /* clases para el modal */
}

.container-juego .progress-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
}

.container-juego .progress-bar .btn-close {
  padding: 0.3rem .5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #fff;
}

.container-juego .progress-bar progress {
  margin-left: 1rem;
}

.container-juego .progress-bar img {
  margin-left: 1rem;
}

.container-juego .progress-bar span {
  color: #fff;
}

.container-juego .container-pregunta1 {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta1 .pregunta-juego1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.container-juego .container-pregunta1 .pregunta-juego1 p {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.container-juego .container-pregunta1 .respuesta-juego1 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta1 .respuesta-juego1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 360px;
}

.container-juego .container-pregunta1 .respuesta-juego1 form .label1 {
  padding: .5rem;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232E35;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}

.container-juego .container-pregunta1 .respuesta-juego1 form .label1:checked {
  border: 2px solid #2CB67D;
  background-color: green;
}

.container-juego .container-pregunta1 .respuesta-juego1 form .label1 img {
  display: none;
}

.container-juego .container-pregunta1 .respuesta-juego1 form .label1 .radio-juego:checked {
  display: none;
}

.container-juego .container-pregunta1 .respuesta-juego1 form .label1 .radio-juego:checked + .bonita {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: .5rem;
}

.container-juego .container-pregunta1 .btn-comprobar {
  width: 90%;
  background-color: #D4CAF3;
  color: #fff;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
}

.container-juego .container-pregunta2 {
  /* ********************** */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta2 .pregunta-juego1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.container-juego .container-pregunta2 .pregunta-juego1 p {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.container-juego .container-pregunta2 .respuesta-juego1 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta2 .respuesta-juego1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 360px;
}

.container-juego .container-pregunta2 .respuesta-juego1 form label {
  padding: .5rem;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232E35;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}

.container-juego .container-pregunta2 .respuesta-juego1 form label img {
  display: none;
}

.container-juego .container-pregunta2 .respuesta-juego1 form label .radio-juego:checked {
  display: none;
}

.container-juego .container-pregunta2 .respuesta-juego1 form label .radio-juego:checked + .bonita {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: .5rem;
}

.container-juego .container-pregunta2 .btn-comprobar {
  width: 90%;
  background-color: #D4CAF3;
  color: #fff;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
}

.container-juego .container-pregunta3 {
  /* *********************** */
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta3 .pregunta-juego1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.container-juego .container-pregunta3 .pregunta-juego1 p {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.container-juego .container-pregunta3 .respuesta-juego1 {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .container-pregunta3 .respuesta-juego1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  width: 360px;
}

.container-juego .container-pregunta3 .respuesta-juego1 form label {
  padding: .5rem;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232E35;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}

.container-juego .container-pregunta3 .respuesta-juego1 form label img {
  display: none;
}

.container-juego .container-pregunta3 .respuesta-juego1 form label .radio-juego:checked {
  display: none;
}

.container-juego .container-pregunta3 .respuesta-juego1 form label .radio-juego:checked + .bonita {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: .5rem;
}

.container-juego .container-pregunta3 .btn-comprobar {
  width: 90%;
  background-color: #D4CAF3;
  color: #fff;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
}

.container-juego .modal-verde {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ACFFCF;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-juego .modal-verde p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.container-juego .modal-verde a {
  background-color: #2CB67D;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.container-juego .modal-rojo {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9CFD7;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-juego .modal-rojo p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #EF4565;
}

.container-juego .modal-rojo a {
  background-color: #EF4565;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.container-juego .display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-juego .opacity {
  opacity: 1;
  pointer-events: visible;
}

.container-juego .pregunta-juego2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.container-juego .pregunta-juego2 p {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.container-juego .respuesta-juego2 {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-juego .respuesta-juego2 .solucion {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 150px;
  margin-top: -1rem;
}

.container-juego .respuesta-juego2 .opciones {
  text-align: center;
  height: 120px;
  /* deshabilitar boton */
}

.container-juego .respuesta-juego2 .opciones .deshabilitado {
  display: none;
}

.container-juego .respuesta-juego2 .opciones input {
  cursor: pointer;
  color: #ef4565;
  background-color: transparent;
  padding: .5rem;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 1.1rem;
  margin: .5rem;
}

.container-juego .respuesta-juego2 .btn-comprobar {
  width: 90%;
  background-color: #D4CAF3;
  color: #fff;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  margin-top: 3rem;
}

/* modal para comprobar si esta bien o mal */
.modal-verde2 {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ACFFCF;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-verde2 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.modal-verde2 a {
  background-color: #2CB67D;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.modal-rojo2 {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9CFD7;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-rojo2 p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #EF4565;
}

.modal-rojo2 a {
  background-color: #EF4565;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* display none */
.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* clases para el modal */
.opacity {
  opacity: 1;
  pointer-events: visible;
}

.container-juego .pregunta-juego3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  margin: auto;
}

.container-juego .pregunta-juego3 p {
  margin-left: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.container-juego .respuesta-juego3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-juego .respuesta-juego3 .pregunta-seleccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  grid-row-gap: 1rem;
}

.container-juego .respuesta-juego3 label {
  border: 2px solid gray;
  border-radius: 15px;
  height: 100%;
  width: 80%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-juego .respuesta-juego3 input {
  display: none;
}

.container-juego .respuesta-juego3 input:checked + label {
  -webkit-box-shadow: 0 0 0 3px orange;
          box-shadow: 0 0 0 3px orange;
}

.container-juego .respuesta-juego3 .btn-comprobar3 {
  width: 90%;
  background-color: #D4CAF3;
  color: #fff;
  padding: 1rem 0;
  border-radius: 20px;
  margin: 1.5rem auto;
}

/* modal para comprobar si esta bien o mal */
.modal-verde3 {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ACFFCF;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

.modal-verde3 p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.modal-verde3 a {
  background-color: #2CB67D;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.modal-rojo3 {
  opacity: 0;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9CFD7;
  position: absolute;
  width: 100%;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

.modal-rojo3 p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #EF4565;
}

.modal-rojo3 a {
  background-color: #EF4565;
  padding: 1rem 0;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* display none */
.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* clases para el modal */
.opacity {
  opacity: 1;
  pointer-events: visible;
}

.home-container {
  height: 100vh;
}

.home-container h2 {
  text-align: left;
  color: #fff;
  margin-left: 2rem;
  padding-top: 1rem;
}

.home-container .tiempo-jugando {
  font-size: 1rem;
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  color: #fff;
}

.home-container .resultado {
  margin: 2rem;
}

.home-container .resultado .resultado-estadistica {
  margin: 1rem 0;
  padding: 1rem 0;
  border: 1px solid #fff;
  border-radius: 10px;
}

.home-container .resultado .resultado-estadistica figure img {
  margin-left: 1rem;
  margin-right: .5rem;
}

.home-container .resultado .resultado-estadistica figure figcaption {
  color: #fff;
}

.home-container .resultado .resultado-estadistica p {
  margin-right: 1rem;
  color: #fff;
}

.home-container .resultado .container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.home-container .perfil h3 {
  color: #fff;
}

.home-container .perfil h4 {
  color: #fff;
}

.home-container .perfil a {
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1rem;
  color: #EF4565;
  font-weight: bold;
  text-decoration: none;
}

.home-container .perfil a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
  /* HOME */
  .home-container {
    margin: auto;
    max-width: 360px;
  }
  .home-container .header-container {
    max-width: 360px;
    margin: auto;
  }
  /* JUEGO-1 */
  .container-juego {
    margin: auto;
    max-width: 360px;
  }
}
/*# sourceMappingURL=style.css.map */